.avatar-emoji {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}


.color-buttons,
#profile-color {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


#profile-color {
    width: 50px;      
    height: 50px;     
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    background: none;
}


.color-choice {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #333;
    cursor: pointer;
    transition: transform 0.2s;
}


.color-choice:hover,
#profile-color:hover {
    transform: scale(1.1);
    border-color: #000;
}


#preview-color {
    width: 50px;       
    height: 50px;      
    border-radius: 8px; 
    border: 2px solid #333;
    background-color: #ffcc00; 
}
